<%- include('../header'); -%>

<div class="container">
    <h3>404 Not Found</h3>
    <p>We're sorry, this resouces is not found</p>
    <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
</div>

<%- include('../footer'); -%> 