<%- include('../header'); -%>

<div class="container">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Status</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected value="public">public</option>
            <option value="private">private</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Tell us your story</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>
  <%- include('../footer'); -%> 